{% extends "layout.html" %}

{% block content %}

    <div id="entries">
        <ul>
            {% for article in articles %}
                <li>
                    <div class="name-year">
                        <a href="{{ article.article_url }}">{{ article.article_title }}</a>
                    </div>

                    <div class="rating-base">
                        <a>{{ article.article_keywords }}</a>
                        <span> ---- </span>
                        <a href="{{ article.article_url }}">{{ article.article_url }}</a>
                    </div>

                    <div class="description"> {{ article.article_abstract }}</div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
