{% extends "layout.html" %}

{% block content %}

    <div id="entries">
        <ul>
            {% for article in articles %}
                <li>
                    <div class="name-year">
                        <a href="http://www.imdb.com/title/{{ article.article_title }}/">{{ article.article_title }}</a>
                        -
                        {#                        <a href="/produced/{{ article.article_title }}">{{ article.article_title }}</a>#}
                    </div>

                    <div class="rating-base">
                        <a href="/rating/{{ article.article_title }}">{{ article.article_keywords }}</a>
                        <span>/ 10 - </span>
                        <a href="/rating/{{ article.article_title }}">{{ article.article_url }}</a>
                    </div>

                    <div class="description"> {{ article.article_content }}</div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
