{% extends "layout.html" %}
{% import "_macros.html" as macros %}

{% block search %}
    <div id="tfheader">
        <form name="searchproduct" id="productsearch" method="POST" action="/searchproduct">
            <div class="col-sm-11">
                <div class="input-group">
                    <input type="text" class="form-control" name="text" placeholder="search">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go!</button>
                    </span>
                </div><!-- /input-group -->
            </div>
        </form>
        <div class="tfclear"></div>
    </div>
{% endblock %}

{% block pricedata %}
    {{ super() }}
    <div id="products">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>名称</th>
                <th>价格</th>
                <th>所属市场</th>
                <th>发布日期</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.product_name }}</td>
                    <td>{{ product.product_price }}</td>
                    <td>{{ product.product_market }}</td>
                    <td>{{ product.product_releasedate }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>


    {% if pagination_allproductprice %}
        <ul class="pagination">
            {{ macros.pagination_widget(pagination_allproductprice, '.ShowAllProductPriceView') }}
        </ul>
    {% endif %}

{% endblock %}


